

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Danh sách đám cưới
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
            <tr>
              <th>Đám cưới</th>
              <th>Ngày tổ chức</th>
              <th>Trạng thái</th>
              <th>Số người</th>              
              <th>Tham gia</th>              
              <th>Mã hoàn thành</th>              
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let w of weddingService.weddings$|async| paginate: { itemsPerPage: 10, currentPage: p }">
              <td>Số nhà {{w.address.home_number}} đường {{w.address.street}} quận {{w.address.district}}</td>
              <td>{{w.htime|date:'dd-MM-yyyy hh:mm'}}</td>
              <td>
                  <span class="badge badge-pill badge-primary" *ngIf="w.students.length===w.number_of_students">Đủ người</span>
                  <span class="badge badge-pill badge-danger" *ngIf="w.students.length<w.number_of_students">Thiếu người</span>
                  <span class="badge badge-pill badge-success" *ngIf="w.status==='finished'">Đã hoàn thành</span>
                  <button type="button" class="btn btn-sm btn-primary" (click)="onDetail(w)">
                      <i class="fa fa-eye"></i>Xem</button>
              </td>
              <td>{{w.number_of_students}}</td>              
              <td>{{w.students.length}}</td>              
              <td>{{w.verify_code}}</td>              
              <td>
                <button type="button" class="btn btn-sm btn-danger" (click)="onEdit(w)">
                  <i class="fa fa-edit"></i> Sửa</button>
                <button type="button" class="btn btn-sm btn-default" (click)="onDelete(w.id)">
                  <i class="fa fa-trash"></i> Xóa</button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary" [routerLink]="['create']" *ngIf="userInfo.role==='manager' || userInfo.role==='super-admin'">
          <i class="fa fa-dot-circle-o" ></i> Thêm mới</button>
      </div>
    </div>
  </div>
</div>