<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="nav-icon icon-speedometer"></i> Trang chủ
        </a>
      </li>
      <li class="nav-title">Nhà hàng</li>
      <li class="nav-item" *ngIf="role==='super-admin'">
        <a class="nav-link" [routerLink]="['/admin/supervisor']">
          <i class="nav-icon icon-book-open"></i> Cửa hàng</a>
      </li>
      <li class="nav-item" *ngIf="role==='super-admin' || role==='supervisor'">
        <a class="nav-link" [routerLink]="['/admin/manager']" >
          <i class="nav-icon icon-user"></i> Quản lí</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/student']">
          <i class="nav-icon icon-people"></i>Sinh viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/wedding']">
          <i class="nav-icon icon-heart"></i> Đám cưới</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/report/system']">
            <i class="nav-icon icon-chart"></i> Báo cáo</a>
        </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle">
          <i class="nav-icon icon-chart"></i>Thống kê</a>
          <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/admin/report/system']"><i class="icon-screen-desktop"></i> Hệ thống</a>
                  </li>
              <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/report/student']"><i class="icon-people"></i> Sinh viên</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/report/wedding']"><i class="icon-heart"></i> Đám cưới</a>
              </li>
              </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/setting']">
          <i class="nav-icon icon-bag"></i>Đổi thông tin</a>
      </li>
      <li class="nav-item" (click)="onLogout()">
        <a style="cursor: pointer;" class="nav-link">
          <i class="nav-icon icon-logout"></i>Đăng xuất</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>