<div class="row">
  <div class="col-lg-12">
    <form action="" #f="ngForm">
      <div class="card">
        <div class="card-header">
          <strong>Cập nhật mật khấu</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Mật khẩu cũ</label>
                <input type="text" class="form-control" id="name" placeholder="Nhập mật khẩu cũ" ngModel name="old_password">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Mật khẩu mới</label>
                <input type="text" class="form-control" id="name" placeholder="Nhập mật khẩu mới" ngModel name="new_password">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="onChangeInfo(f)">
            <i class="fa fa-dot-circle-o"></i> Lưu</button>
          <button type="reset" class="btn btn-sm btn-danger">
            <i class="fa fa-ban" (click)="f.reset()"></i> Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>