<div class="row">
    <div class="col-lg-12">
      <form action="" #f="ngForm" [formGroup]="form">
        <div class="card">
          <div class="card-header">
            <strong>Sửa thông tin sinh viên</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Tên sinh viên</label>
                  <input type="text" class="form-control" id="name" placeholder="Nhập tên sinh viên" formControlName="name">
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Số điện thoại người sinh viên</label>
                  <input type="text" class="form-control" id="name" placeholder="Nhập số điện thoại" formControlName="phone">
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="ccnumber">Mật khẩu đăng nhập</label>
                  <input type="text" class="form-control" disabled id="ccnumber" placeholder="Mật khẩu mặc định 123456" formControlName="password">
                </div>
              </div>
            </div>
  
            <div class="row" formGroupName="information">
              <div class="form-group col-sm-2">
                <label for="ccmonth">Chiều cao (m)</label>
                <input type="number" class="form-control" id="ccnumber" placeholder="Nhập chiều cao" formControlName="height" >
              </div>
              <div class="form-group col-sm-2">
                <label for="ccyear">Cân nặng</label>
                <input type="text" class="form-control" id="ccnumber" placeholder="Nhập cân nặng" formControlName="weight">
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="cvv">Giới tính</label>
                  <div class="col-md-12 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" id="inline-radio1" value="true" name="sex" formControlName="sex">
                      <label class="form-check-label" for="inline-radio1">Nam</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" id="inline-radio2" value="false" name="sex" formControlName="sex">
                      <label class="form-check-label" for="inline-radio2">Nữ</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="cvv">Năm sinh</label>
                  <select name="" class="form-control" id="">
                    <option value="1985">1985</option>
                  </select>
                </div>
              </div>
            </div>
            <!--/.row-->
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" >
              <i class="fa fa-dot-circle-o"></i> Lưu</button>
            <button type="reset" class="btn btn-sm btn-danger">
              <i class="fa fa-ban"></i> Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>