<div class="row">
  <div class="col-6 col-lg-3" *ngFor="let s of numberOfStudents;let i = index">
    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa p-3 font-2xl mr-3 float-left" [ngClass]="students[i]?('btn-primary ' + (students[i].sex?'fa-male':'fa-female')):'btn-danger fa-male'" ></i>
        <div class="h5 text-primary mb-0 mt-2">{{students[i]?students[i].name:'Chưa nhận'}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">{{students[i]?students[i].phone:''}}</div>
      </div>
      <div class="card-footer px-3 py-2" *ngIf="students[i]">
          <a class="font-weight-bold font-xs btn-block text-muted" href="#"  [class.disabled]="!students[i]" [routerLink]="['/admin/student/detail/'+students[i].id]">
              {{getStatus(students[i])}}
            <i class="fa fa-angle-right float-right font-lg"></i>
          </a>
        </div>
    </div>
  </div>
</div>