<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Thông tin sinh viên</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Chiều cao</label>
            <div class="col-md-9">
              {{user.information.height}} m
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Cân nặng</label>
            <div class="col-md-9">
              {{user.information.weight}} kg
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email-input">Avatar</label>
            <div class="col-md-3">
              <img [src]="staticURL+'student/avatar/'+user.id" alt="Chưa có ảnh" class="img-thumbnail">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password-input">Ảnh toàn thân</label>
            <div class="col-md-3">
              <img [src]="staticURL+'student/portrait/'+user.id" alt="Chưa có ảnh" class="img-thumbnail">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="disabled-input">Số đám đã tham gia thành công</label>
            <div class="col-md-9">
              {{user.information.finish_wedding}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="disabled-input">Số đám hủy</label>
            <div class="col-md-9">
              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="disabled-input">Số dư</label>
            <div class="col-md-9">
              {{user.information.balance}}
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>

  </div>
</div>