  <wedding-core-header></wedding-core-header>
  <div class="app-body">
    <wedding-core-sidebar></wedding-core-sidebar>

    <main class="main">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{restaurantName}}</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
          <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#">
              <i class="icon-speech"></i>
            </a>
            <a class="btn" href="./">
              <i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn" href="#">
              <i class="icon-settings"></i> &nbsp;Settings</a>
          </div>
        </li>
      </ol>
      <!-- Breadcrumb-->
      <div class="container-fluid">
        <div class="animated fadeIn">
          <router-outlet></router-outlet>
          <!--/.row-->
        </div>
      </div>
    </main>
    <wedding-core-aside-menu></wedding-core-aside-menu>
  </div>